<section class="site-bottom" role="contentinfo">
  <div class="container">
    <div class="row site-bottom-grid">
      <div class="col-12 col-md-3 site-bottom-col">
        <p>(주)피엠피아 | 프로젝트 관리 교육 및 컨설팅 전문 기관</p>
        <p>사업자등록번호 : 101-86-53196</p>
        <p>Peoplecert ATO Registration No : 8446</p>
      </div>
      <div class="col-12 col-md-3 site-bottom-col">
        <p class="site-bottom-heading">Contact Us</p>
        <p>서울시 종로구 사직로8길 4</p>
        <p>02-736-7756</p>
        <p><a href="mailto:swchung@pmpia.com">swchung@pmpia.com</a></p>
      </div>
      <div class="col-12 col-md-3 site-bottom-col">
        <br>
        <p><a href="https://cafe.naver.com/prince2group">PRINCE2 네이버 카페</a></p>
        <p><a href="http://pf.kakao.com/_xaKyxlK">피엠피아 카카오톡 채널</a></p>
      </div>
      <div class="col-12 col-md-3 site-bottom-col">
        <br>
        <p>Copyright © 2025 (주)피엠피아</p>
        <p><a href="{{ '/terms/' | relative_url }}">이용약관</a> | <a href="{{ '/privacy/' | relative_url }}">개인정보보호방침</a></p>
      </div>
    </div>
    <p class="site-bottom-credit">
      This website is powered by <a href="https://jekyllrb.com/">Jekyll</a> with the
      <a href="https://github.com/alshedivat/al-folio">al-folio</a> theme.
    </p>
  </div>
</section>
